<%= form_for @client, :url => { :action => "create" } do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance %>
  </div>
  <div class="action">
    <%= form.submit 'Register' %>
  </div>

<% end %>